*{
    margin: 0
}
body {
    background-size: cover;
    background-color: white;
}
nav{
    background-color: rgba(255, 255, 255, 0.664);
    margin: auto;
    text-align: right;
    margin-right: 20px;
    font-style: normal;
    border-bottom:1,5px solid black;
}
nav ul {
    background:#000000;
    padding: 5px;
    list-style:none;
    position:relative;
    display:inline-table;
    width: 100%;
}
av ul li{
    float:left;
}

nav ul li:hover{
    background:#64b9ee;
}

nav ul li:hover a{
    color:#edcf2e;
}

nav ul li a{
    display: block;
    padding: 25px;
    color: #edcf2e;
}
.tentang{
    padding: 30px;
}

.kontak{
    padding: 30px;
}
header{
    text-align: center;
    border: black;
}
article{
    margin: 20px;
    border-radius: 20px;
    border-collapse: collapse;
    padding: 20px;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgb(19, 50, 151);
    padding-bottom: 10px;
    padding-top: 10px;
    background-size: 40px;
    font-family: "Open Sans";
    color: white;
}